html, *{
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: auto;
    border: 1px solid #333;
}

.template{
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.arena {
    margin-bottom: 20px;
}

.t {
    background-color: #222;
    color: #fff;
    font-size: 40px;
}

.code {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.code span {
    display: inline-block;
    padding: 5px;
    border: 1px solid #333;
}

.t1_wrap {
    display: flex;
    flex-wrap: wrap;
}

.t1_left {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 430px;
}

.t1_right {
    flex-direction: column;
    margin-left: 15px;
    display: flex;
    flex: 0 0 160px;
}

.t1_right_block {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.t1_right_block:last-child {
    margin-bottom: 0;
}



.t2_head {
    min-width: 480px;
    max-width: 600px;
    min-height: 100px;
    margin: 0 auto 40px;
}

.t2_grid {
    display: flex;
    width: 100%;
    min-width: 480px;
    max-width: 600px;
    padding: 0 30px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.t2_grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(33.33% - 20px);
    height: 150px;
    margin: 0 10px 25px;
}




.t3_arena {
    display: flex;
    flex-direction: column;
}

.t3_header {
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto 30px;
    padding: 30px 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
}

.t3_logo {
    background-color: #000;
    width: 200px;
    height: 80px;
    font-size: 0;
    margin: 0 10px 10px 0;
    display: flex;
    flex: none;
    align-items: center;
}

.t3_nav {
    margin: -5px 0 10px -15px;
    display: flex;
    flex-wrap: wrap;

}

.t3_nav_item {
    background-color: #000;
    width: 130px;
    height: 50px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 5px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t3_main {
    width: 100%;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    flex: auto;
    box-sizing: border-box;
}

.t3_fline {
    background-color: #000;
    width: 70%;
    min-height: 80px;
    margin: 0 0 30px 0;
}

.t3_sline {
    background-color: #000;
    width: 80%;
    min-height: 80px;
    margin: 0 0 30px 0;
}

.t3_grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.t3_grid-item {
    margin-bottom: 30px;
    flex: 0 1 calc(25% - 30px * 3/4);
}

.t3_grid_img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

.t3_sqr {
    width: 100px;
    height: 100px;
    background-color: #000;
}
.t3_footer {
    background-color: #000;
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    color: #fff;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}